* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.portfolios {
  display: grid;
height: 100%;
  color: white;
  background-color: #000000;
  padding: 5%;
  /* width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  */
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }
  @media (min-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.portfolio-card {
  height: 180px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 19px;
  display: flex;
  align-items: center;
  margin: 3%;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}
